@model IEnumerable<QuanLyThuVien.Models.CT_PhieuMuon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhieuMuon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sach.NhaXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.CartID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhieuMuon.PhieuMuonID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CT_PhieuMuonID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CT_PhieuMuonID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CT_PhieuMuonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
