@model QuanLyThuVien.Models.DocGia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DocGia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDocGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDocGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLapThe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLapThe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SLSachDaMuon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SLSachDaMuon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayHetHan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayHetHan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiDocGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiDocGia.TenDocGia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DocGiaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
