@model IEnumerable<QuanLyThuVien.Models.PhieuThuTienPhat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TienCoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienPhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienConLai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhieuTra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TienCoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienPhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienConLai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocGia.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhieuTra.PhieuTraID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PhieuThuTienPhatID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PhieuThuTienPhatID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PhieuThuTienPhatID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
