
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Trang Chủ</h2>
<body>
    <div>@ViewBag.Key</div>
    <div class="row">
        <div class="form-group">
            <form action="@Url.Action("Add","Home")" method="get">
                <input type="submit" value="Thêm Sản Phẩm" class="btn btn-success" />
            </form>
        </div>
        <div class="form-group">
            <form action="@Url.Action("TrangChu","ThuongHieu")" method="get">
                <input type="submit" value="Thêm Thương Hiệu" class="btn btn-outline-success" />
            </form>
        </div>  
    </div>    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr style="text-align:center">
                        <th>ID</th>
                        <th>Hình Ảnh</th>
                        <th>Tên Sản Phẩm</th>                        
                        <th>Giá Tiền</th>
                        <th>Tên Thương Hiệu</th>
                        <th>Thông Số</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.ds)
                    {
                        <tr>
                            <th>@item.LaptopID</th>
                            <th><img src="~/Areas/Content/img/@item.Image" style="width:150px;height:100px" /></th>
                            <th>@item.TenLaptop</th>                            
                            <th>@item.Giatien</th>
                            <th>@item.ThuongHieu.TenThuongHieu</th>
                            <th>@item.ThongSo</th>
                            <th style="text-align:center">
                                <a href="@Url.Action("Xoa","Home", new { id=item.LaptopID})" class="btn btn-outline-danger">Xoá</a>
                                <a href="@Url.Action("Sua","Home", new { id=item.LaptopID})" class="btn btn-outline-warning">Sửa</a>
                            </th>
                        </tr>
                    }
                                                
                </tbody>
            </table>
            <div style="text-align:center">
                @for (int i = 0; i < ViewBag.count; i++)
                {
                    <a href="@Url.Action("Index","Home", new { id = i})" class="btn btn-outline-primary">@i</a>
                    <a href="@Url.Action("Index","Home", new { id = i + 1})" class="btn btn-outline-primary">@(i+1)</a>
                }
            </div>
            
        </div>
    </div>
</body>

