
@{
    
}

@model DoAn.Areas.Admin.Models.Laptop

<div class="details-product">
    <div class="container">
        <div class="container justify-content-center">
            <h4>@Html.DisplayFor(model => model.TenLaptop)</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <img src="~/Areas/Content/img/@Model.Image" class="img-thumbnail" style="width:400px; height:400px" />
            </div>
            <div class="col-xl-8 col-lg-8">
                <h3>@Html.DisplayFor(model => model.TenLaptop)</h3>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <p>Thương hiệu: @Html.DisplayFor(model => model.ThuongHieu.TenThuongHieu)</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <p>Tình trạng: Còn hàng</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <p>Sản phẩm: Mới 100%</p>
                    </div>
                </div>
                <div class="prictag">
                    <h4 style="color: red; font-weight: bold;">@Html.DisplayFor(model => model.Giatien)$</h4>
                </div>
                <div class="rating">
                    @if (ViewBag.SLComment > 0)
                    {
                        <div style="display:inline-flex;">
                            <p style="font-style:italic;">(@ViewBag.SLComment người đánh giá</p>)
                        </div>
                    }
                </div>
                <div class="product-summary">
                    <span class="pduct-summary" style="font-weight: bold;">Thông tin sản phẩm:</span>
                    <div class="pduct description">
                        <p>
                            <span line-height: 26px;">
                                ✓ Tính năng cơ bản: văn phòng, học tập, xem phim, nghe nhạc, lướt web, đồ hoạ 2D, Game 2D (Game 3D cấu hình có Card đồ hoạ)
                                <br />
                                ✓ Phù hợp cho HS-SV và nhân viên văn phòng, laptop mỏng gọn nhẹ, di chuyển nhiều và không gian làm việc giới hạn.
                                <br />
                                ✓ Thiết kế vỏ nhựa tổng hợp cứng bền và được phủ lớp sơn kim loại sang trọng, tinh tế.
                                <br />
                                ✓ Màn hình với 4 khung viền siêu mỏng cho không gian hiển thị rộng rãi hơn.
                            </span>
                        </p>
                    </div>
                </div>
                <div class="cartbutton">
                  
                    <form asp-action="Buy" asp-controller="Cart" method="post">
                        <span>
                            
                            <input type="hidden" name="id" value="@Model.LaptopID" />
                            <input type="submit" value="THÊM VÀO GIỎ HÀNG" style="border: 1px solid #0A98C0;
                            border-radius: 0;
                            min-width: 200px;
                            min-height: 30px;
                            background-color: white;
                            font-weight: bold;
                            color: #0A98C0;
    " />
                        </span>
                    </form>
                </div>
            </div>


        </div>
        <br /><br />
        <div class="about-product">
            <div class="about-product-description position-relative my40">
                <h4>Về sản phẩm</h4>
                <section class="product_description_area">
                    <div class="container">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                   aria-selected="true">Mô tả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                   aria-selected="false">Thông số</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                                   aria-selected="false">Bình luận</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent" style="padding-top: 30px;">
                            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <p>@Html.DisplayFor(model => model.ThongSo)</p>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="table-responsive">
                                    <p>@Html.TextAreaFor(model => model.ThongSo, new { @class = "specs-info", @rows = 7, style = "border: none;" })</p>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row total_rate">
                                            <div class="col-6">
                                                <div class="box_total" style=" background: #f4f4f4; text-align: center; padding-top: 20px; padding-bottom: 20px; border: 1px solid #dddddd;">
                                                    <h5 style="color: #2a2a2a; margin-bottom: 0px; font-size: 24px;">Overall</h5>
                                                    @if (ViewBag.SLComment > 0)
                                                    {        
                                                        <h6 style="color: #2a2a2a; margin-bottom: 0px; font-size: 14px; color: #797979; font-weight: normal;">(@ViewBag.SLComment người đánh giá)</h6>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-6">
                                            </div>
                                        </div>
                                        <div class="review_list">
                                            @foreach (var a in ViewBag.dsdanhgia)
                                            {
                                                <div class="review_item">
                                                    <div class="media">
                                                        <div class="d-flex">
                                                            <img src="~/images/user.jpg" width="100" height="100" style="border-radius:50%;" />
                                                        </div>
                                                        
                                                    </div>
                                                    <p style="font-size:17px;  font-weight:bold">@a.Account.Username</p>
                                                    <p style="font-size:15px;">@a.BinhLuan</p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        @if (Session["UserID"] == null)
                                        {
                                            <h4 style="font-weight: bold">Bạn chưa đăng nhập! Hãy đăng nhập để bình luận.</h4>
                                            <a href="@Url.Action("login","Home",new { area = "Admin" })" class="btn btn-primary" style="color: white; border: 1px solid #0A98C0; background-color: #0A98C0; font-weight: bold;">ĐĂNG NHẬP</a>
                                        }
                                        else
                                        {
                                        <div class="review_box">
                                            <h4 style="font-weight: bold">Thêm bình luận của bạn</h4>
                                            @using (Html.BeginForm("CreateCmt", "Home", FormMethod.Post))
                                            {
                                                <input type="hidden" value="@Model.LaptopID" name="laptopID" />
                                                <div class="form-group">
                                                    <br />
                                                    <textarea rows="8" name="text" class="form-control" placeholder="Viết bình luận ở đây." required></textarea>
                                                </div>
                                                <input type="submit" class="btn btn-success" value="BÌNH LUẬN" style="border: 1px solid #0A98C0;
                                                                                                                    border-radius: 0;
                                                                                                                    background-color: white;
                                                                                                                    font-weight: bold;
                                                                                                                    color: #0A98C0;
                                                                                                                    padding: 13px 19px" />
                                                <div>
                                                    <input type="hidden" name="rating" id="lblRating" value="0" />
                                                </div>
                                            }

                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>

